In [126]:
from pyomo.environ import *
import pandas as pd 
import numpy as np
from math import log,e
from sklearn.linear_model import LinearRegression

In [277]:
Beer_data_12pk = pd.read_excel('BeerSales_Data.xlsx',sheet_name='12PK')
Beer_data_18pk = pd.read_excel('BeerSales_Data.xlsx',sheet_name='18PK')
Beer_data_30pk = pd.read_excel('BeerSales_Data.xlsx',sheet_name='30PK')
Beer_data_a= pd.read_excel('BeerSales_Data.xlsx',sheet_name='a')

In [104]:
Beer_data_a

   size         a0     a1(t)   a2P(12)   a3P(18)   a4P(30)
0    12  11.266121  0.008726 -3.414794  1.194021  0.375910
1    18   8.274573  0.011169  2.523562 -5.896440  2.089018
2    30  16.245530  0.003567  1.469390  2.098089 -8.135853

In [290]:
Price = { '12_packs_size': [20.99, 18.99, 16.99, 14.99],
          '18_packs_size': [19.99, 17.99, 15.99, 13.99],
          '30_packs_size': [18.99, 16.99, 15.49, 13.49]  
}

In [246]:
Week = range(53,66)
packs_size=['12_packs_size','18_packs_size','30_packs_size']
n=64
m=16
df=np.zeros((n,m))
WR_table=pd.DataFrame(df,columns=['12','18','30']+['Week'+str(i) for i in Week])

In [241]:
Beer_data_a

   size         a0     a1(t)   a2P(12)   a3P(18)   a4P(30)
0    12  11.266121  0.008726 -3.414794  1.194021  0.375910
1    18   8.274573  0.011169  2.523562 -5.896440  2.089018
2    30  16.245530  0.003567  1.469390  2.098089 -8.135853

In [291]:
#ln
a=np.array(Beer_data_a.iloc[:,1:])
for week in Week:
    for i in range(len(Price[packs_size[0]])):
        P12=Price[packs_size[0]][i]
        for j in range(len(Price[packs_size[1]])):
            P18=Price[packs_size[1]][j]
            for k in range(len(Price[packs_size[2]])):
                P30=Price[packs_size[2]][k]
                row=i*16+j*4+k
                WR_table.iloc[row,0]=P12
                WR_table.iloc[row,1]=P18
                WR_table.iloc[row,2]=P30
                WR=0
                WR+=P12*pow(e,a[0][0]+a[0][1]*week+a[0][2]*log(P12)+a[0][3]*log(P18)+a[0][4]*log(P30))
                WR+=P18*pow(e,a[1][0]+a[1][1]*week+a[1][2]*log(P12)+a[1][3]*log(P18)+a[1][4]*log(P30))
                WR+=P30*pow(e,a[2][0]+a[2][1]*week+a[2][2]*log(P12)+a[2][3]*log(P18)+a[2][4]*log(P30))
                WR_table.iloc[row,week-50]=WR

In [298]:
#ln
WR_table

,12,18,30,Week53,Week54,Week55,Week56,Week57,Week58,Week59,Week60,Week61,Week62,Week63,Week64,Week65
0,20.99,19.99,18.99,12175.513630,12287.300279,12400.142970,12514.051883,12629.037300,12745.109604,12862.279277,12980.556908,13099.953187,13220.478910,13342.144980,13464.962405,13588.942302
1,20.99,19.99,16.99,11772.277041,11875.900612,11980.480069,12086.024478,12192.542994,12300.044859,12408.539404,12518.036051,12628.544314,12740.073799,12852.634203,12966.235319,13080.887034
2,20.99,19.99,15.49,12064.275871,12164.198070,12265.013246,12366.729714,12469.355867,12572.900181,12677.371209,12782.777591,12889.128044,12996.431372,13104.696463,13213.932288,13324.147905
3,20.99,19.99,13.49,14647.007142,14750.198871,14854.233487,14959.118474,15064.861392,15171.469866,15278.951594,15387.314346,15496.565964,15606.714362,15717.767529,15829.733527,15942.620495
4,20.99,17.99,18.99,13140.746237,13266.624614,13393.741970,13522.110740,13651.743493,13782.652921,13914.851847,14048.353227,14183.170147,14319.315828,14456.803624,14595.647028,14735.859670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,14.99,15.99,13.49,17125.983566,17269.792928,17414.876525,17561.245981,17708.913031,17857.889515,18008.187388,18159.818713,18312.795666,18467.130535,18622.835726,18779.923757,18938.407264
60,14.99,13.99,18.99,20375.587776,20572.082386,20770.505940,20970.877686,21173.217067,21377.543724,21583.877497,21792.238427,22002.646758,22215.122940,22429.687630,22646.361694,22865.166211
61,14.99,13.99,16.99,18458.225605,18633.167698,18809.803253,18988.148956,19168.221660,19350.038386,19533.616327,19718.972845,19906.125480,20095.091946,20285.890134,20478.538115,20673.054142
62,14.99,13.99,15.49,17280.449853,17440.974224,17603.031189,17766.635678,17931.802766,18098.547682,18266.885803,18436.832658,18608.403931,18781.615463,18956.483250,19133.023447,19311.252371
63,14.99,13.99,13.49,16454.016563,16599.016154,16745.359276,16893.058750,17042.127520,17192.578656,17344.425358,17497.680952,17652.358895,17808.472776,17966.036315,18125.063366,18285.567920

In [288]:
WR_table.to_excel('WR_table.xlsx')

In [281]:
price = WR_table.iloc[:,0:3]
price

       12     18     30
0   20.99  19.99  18.99
1   20.99  19.99  16.99
2   20.99  19.99  15.49
3   20.99  19.99  13.49
4   20.99  17.99  18.99
..    ...    ...    ...
59  14.99  15.99  13.49
60  14.99  13.99  18.99
61  14.99  13.99  16.99
62  14.99  13.99  15.49
63  14.99  13.99  13.49

[64 rows x 3 columns]

In [283]:
price_list=[]
for i in range(len(price)):
    price_list.append(price.iloc[i,:].tolist())
price_list

[[20.99, 19.99, 18.99],
 [20.99, 19.99, 16.99],
 [20.99, 19.99, 15.49],
 [20.99, 19.99, 13.49],
 [20.99, 17.99, 18.99],
 [20.99, 17.99, 16.99],
 [20.99, 17.99, 15.49],
 [20.99, 17.99, 13.49],
 [20.99, 15.99, 18.99],
 [20.99, 15.99, 16.99],
 [20.99, 15.99, 15.49],
 [20.99, 15.99, 13.49],
 [20.99, 13.99, 18.99],
 [20.99, 13.99, 16.99],
 [20.99, 13.99, 15.49],
 [20.99, 13.99, 13.49],
 [18.99, 19.99, 18.99],
 [18.99, 19.99, 16.99],
 [18.99, 19.99, 15.49],
 [18.99, 19.99, 13.49],
 [18.99, 17.99, 18.99],
 [18.99, 17.99, 16.99],
 [18.99, 17.99, 15.49],
 [18.99, 17.99, 13.49],
 [18.99, 15.99, 18.99],
 [18.99, 15.99, 16.99],
 [18.99, 15.99, 15.49],
 [18.99, 15.99, 13.49],
 [18.99, 13.99, 18.99],
 [18.99, 13.99, 16.99],
 [18.99, 13.99, 15.49],
 [18.99, 13.99, 13.49],
 [16.99, 19.99, 18.99],
 [16.99, 19.99, 16.99],
 [16.99, 19.99, 15.49],
 [16.99, 19.99, 13.49],
 [16.99, 17.99, 18.99],
 [16.99, 17.99, 16.99],
 [16.99, 17.99, 15.49],
 [16.99, 17.99, 13.49],
 [16.99, 15.99, 18.99],
 [16.99, 15.99, 16.99],
 [16.99, 15.99, 15.49],
 [16.99, 15.99, 13.49],
 [16.99, 13.99, 18.99],
 [16.99, 13.99, 16.99],
 [16.99, 13.99, 15.49],
 [16.99, 13.99, 13.49],
 [14.99, 19.99, 18.99],
 [14.99, 19.99, 16.99],
 [14.99, 19.99, 15.49],
 [14.99, 19.99, 13.49],
 [14.99, 17.99, 18.99],
 [14.99, 17.99, 16.99],
 [14.99, 17.99, 15.49],
 [14.99, 17.99, 13.49],
 [14.99, 15.99, 18.99],
 [14.99, 15.99, 16.99],
 [14.99, 15.99, 15.49],
 [14.99, 15.99, 13.49],
 [14.99, 13.99, 18.99],
 [14.99, 13.99, 16.99],
 [14.99, 13.99, 15.49],
 [14.99, 13.99, 13.49]]

In [284]:
Week = range(53,66)
Price = range(64)

In [285]:
model = ConcreteModel()
model.x = Var(Week, Price , within=Binary)

model.obj = Objective(
    expr = sum(model.x[week,price]*WR_table.iloc[price,week-50] for week in Week for price in Price),
    sense = maximize)

def rule1(model,week):
    return sum(model.x[week,price] for price in Price)==1

model.con1 = Constraint(Week,rule=rule1)

opt = SolverFactory('glpk').solve(model)

print('The optimal objective value is: %f'%model.obj())

The optimal objective value is: 327787.742374

In [286]:
result=pd.DataFrame(index=['Week'+str(i) for i in Week],columns=['P12','P18','P30','WR'])
for week in Week:
    for price in Price:
        if model.x[week,price].value==1:
            p12=WR_table.iloc[price,0]
            p18=WR_table.iloc[price,1]
            p30=WR_table.iloc[price,2]
            # print('In week %d, the optimal price is: 12 packs: %.2f, 18 packs: %.2f,30 packs: %.2f'%(week,p12,p18,p30))
            result.iloc[week-53,0]=p12
            result.iloc[week-53,1]=p18
            result.iloc[week-53,2]=p30
            result.iloc[week-53,3]=WR_table.iloc[price,week-50]

In [287]:
print('the optimal objective value is: %f'%model.obj())
result

the optimal objective value is: 327787.742374

          P12    P18    P30            WR
Week53  20.99  13.99  18.99  23532.773278
Week54  20.99  13.99  18.99   23801.33416
Week55  20.99  13.99  18.99  24072.998344
Week56  20.99  13.99  18.99  24347.801973
Week57  20.99  13.99  18.99  24625.781616
Week58  20.99  13.99  18.99  24906.974268
Week59  20.99  13.99  18.99  25191.417359
Week60  20.99  13.99  18.99  25479.148757
Week61  20.99  13.99  18.99  25770.206773
Week62  20.99  13.99  18.99   26064.63017
Week63  20.99  13.99  18.99  26362.458161
Week64  20.99  13.99  18.99  26663.730422
Week65  20.99  13.99  18.99  26968.487093